# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
node_modules

# Miscellaneous
/static/

# Output
/src-tauri/
/build/
/build-static/
.output
.vercel
.netlify
.wrangler
/.svelte-kit