@import 'tailwindcss';

:root {
	--app-header-height: 112px;
	--app-main-height: calc(100vh - var(--app-header-height));

	/* calcite overrides */
	--calcite-input-border-color: transparent;
	--calcite-combobox-input-border-color: transparent;
	--calcite-card-border-color: transparent;
	--calcite-card-border-width: 0px;
	--calcite-internal-button-padding-x: 7px !important;
	--calcite-border-width-3: 0 !important;
}

@layer base {
	html,
	body {
		max-height: 100dvb;
		overflow: hidden;
	}

	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: var(--calcite-color-brand);
	}
}
